.portfolio {
  .portfolio__list {
    .portfolio__item {
      &:nth-child(even) {
        flex-direction: row-reverse;
        margin: 7rem 0;
      }
      .portfolio__img {
        img {
          border-radius: 1rem;
      border: 1px solid #a2a2a2;

        }
      }
      .portfolio__info {
        img {
          width: 2rem;
        }
        .portfolio__desc {
          width: 70%;
          margin: 0 auto;
          line-height: 1.7rem;
        }
        .portfolio__languages {
          gap: 0 2rem;
          span {
            color: var(--title-color-dark);
            font-weight: var(--font-bold);
          }
        }
        .portfolio__action {
          gap: 0 2rem;
          a {
            transition: 0.3s all linear;
            padding: 0.5rem 1rem;
            border-radius: 10px;
            background-color: var(--title-color);
            color: #fff;
            &:hover {
              background-color: var(--color-blue);
              .arrow-right {
                transition: 0.3s all;
                transform: translateX(5px);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .portfolio {
    .portfolio__list {
      .portfolio__item {
        .portfolio__info {
          .portfolio__desc {
            font-size: var(--small-font-size);
          }
      }
    }
  }
}
}
