.about {
    .about__ava {
        position: relative;
        .about__image {
            width: 25rem;
            border-radius: 1rem;
            position: relative;
            z-index: 999;
        }
        .about__bg {
            position: absolute;
            left: -7rem;
            top: -3rem;
            opacity: 0.08;
        }
    }
}