.info {
    .info__para {
        font-size: var(--normal-font-size);
        line-height: 1.7rem;
    }
}

@media screen and (max-width: 768px) {
    .info {
        .info__para {
            font-size: var(--small-font-size);
            line-height: 1.7rem;
        }
    }
}
