.contact {
    .contact__list {
        .contact__item {
            i {
                border-radius: 50%;
                background-color: var(--color-blue);
                padding: 1rem;
                color: #fff;
            }
            .contact__info {
                h5 {
                    font-size: var(--normal-font-size);
                    margin-bottom: 0.2rem;
                }
                p {
                    font-size: var(--small-font-size);
                    word-wrap: break-word;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .contact {
        .contact__list {
            .contact__item {
                .contact__info {
                    width: 60%;
                }
            }
        }
    }
}