.skill {
    ul {
        gap: 0 2rem;
        li {
            img {
                width: 4rem;
                height: 4rem;
                transition: 0.5s all;
                &:hover {
                    scale: 1.2;
                }
            }
            i {
                font-size: var(--h1-font-size);
                
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .skill {
        ul {
            gap: 2rem;
        }
    }
}